<ion-toolbar>
  <ion-row>
    <ion-col size="2" class="toolbar-icon">
      <ion-img src="/assets/icon/camara.png" class="icon"></ion-img>
    </ion-col>
    <ion-col size="8" class="title-col">
      <ion-title class="italic-title">Instagram</ion-title>
    </ion-col>
    <ion-col size="2" class="toolbar-icon">
      <img src="../../assets/icon/enviar.png" class="directo-icon" alt="Directo">  
    </ion-col>
  </ion-row>
</ion-toolbar>

<br>
<ion-content>
<div class="avatar-wrapper">
  <ion-avatar>
    <img src="/assets/icon/lupita.jpg" class="avatar">
    <ion-label class="story-label">Tu historia</ion-label>
  </ion-avatar>
  <ion-avatar>
    <img src="assets/icon/perfil1.jpg" class="avatar">
    <ion-label class="story-label">fernando_2</ion-label>
  </ion-avatar>
  <ion-avatar>
    <img src="assets/icon/perfil2.jpg" class="avatar">
    <ion-label class="story-label">Mauricio.23</ion-label>
  </ion-avatar>
  <ion-avatar>
    <img src="assets/icon/perfil3.jpg" class="avatar">
    <ion-label class="story-label">Migue35</ion-label>
  </ion-avatar>
  <ion-avatar>
    <img src="assets/icon/perfil4.jpg" class="avatar">
    <ion-label class="story-label">Mariel655</ion-label>
  </ion-avatar>
</div>
<br>
<ion-card>
<ion-item>
  
  <ion-avatar>
    <img src="assets/icon/perfil5.jpg" alt="" class="di">
  </ion-avatar>
  <ion-text>
    <h6>Ubaldo44</h6>
  </ion-text>
</ion-item>
<ion-img src="/assets/icon/paisajeluna.jpg" class="fondo">
</ion-img>

<ion-item class="items">
  <ion-img src="/assets/icon/corazon.png" alt="" class="icons"></ion-img>  <!-- esta debe ser una imagen que contenga los 3 iconos de instagram que se marca en la imagen del profe -->
  <ion-img src="/assets/icon/globo.png" alt="" class="icosns"></ion-img>
  <ion-img src="/assets/icon/send.png" alt="" class="ic"></ion-img>
</ion-item>
</ion-card>
<ion-item style="padding-top: 0;">
  <ion-avatar>
    <img src="/assets/icon/perfil6.jpg" class="kefla" alt="">
  </ion-avatar>
  <div style="display: flex; align-items: center; margin-top: 0;">
    <p style="font-size: 0.8rem;">Marijose le ha dado me gusta</p>
  </div>
</ion-item>
<ion-item>
<ion-img src="/assets/icon/home.png" alt="" class="p"></ion-img>
<ion-img src="/assets/icon/search.png" alt="" class="p"></ion-img>
<ion-img src="/assets/icon/crear.png" alt="" class="p"></ion-img>
<ion-img src="/assets/icon/reels.png" alt="" class="p"></ion-img>
<ion-avatar>
<img src="/assets/icon/lupita.jpg" alt="" class="keflsa">
</ion-avatar>
</ion-item>
</ion-content>